/* Header */

html {
  font-size: 1rem;
}

header {
  display: flex;
  height: 20vh;
  justify-content: space-around;
  width: 70vw;
  margin: 25px auto;
}

#header-text-1 {
  width: 50%;
  height: 47px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 48px;
  letter-spacing: -0.045em;
  margin-left: 0.8em;
  color: #000000;
}

#header-text-2 {
  width: 50%;
  font-size: 1em;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin-right: 1em;
}

/* Main contents */

main {
  display: flex;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postion {
  height: 30%;
  width: 25%;
  position: relative;
  margin: 2%;
}

img {
  width: 90%;
  height: 90%;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: left;
  margin-top: 0%;
  font-family: "Poppins", Helvetica, sans-serif;
}

.role {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  left: 100%;
  font-family: "PT Serif";
  font-size: 1.5em;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  width: 200px;
}

#postion-2,
#postion-5 {
  position: relative;
  top: 7em;
}

@media screen and (max-width: 950px) {
  header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    height: 30vh;
  }

  #about-us,
  #who-are-we {
    width: 75%;
    margin: 10px;
  }

  .postion {
    width: 45%;
    height: 50%;
    top: 0 !important;
    margin: 0%;
  }

  .postion:nth-child(even) {
    top: 7em !important;
  }

  .name {
    font-size: 1em;
  }
  .role {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 495px) {
  header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    height: 30vh;
    width: 100vw;
  }

  main {
    width: 90vw;
  }
  #header-text-1,
  #header-text-2 {
    width: 90%;
    margin: 10px;
  }

  .postion {
    width: 45%;
    height: 50%;
    top: 0 !important;
    margin: 0%;
  }

  .postion:nth-child(even) {
    top: 7em !important;
  }

  .name {
    font-size: 1em;
    margin-top: 0;
  }
  .role {
    font-size: 0.8em;
  }
}
